<div class="container mt-4">
  <div class="card shadow border-0">
    <div class="card-header bg-danger text-white p-3">
      <h4 class="mb-0"><i class="fas fa-user-shield"></i> Registro de Nuevos Técnicos</h4>
    </div>

    <div class="card-body p-4">
      <form (ngSubmit)="registrarUsuario()">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label class="font-weight-bold">Nombre Completo</label>
            <input type="text" name="nombre" [(ngModel)]="nuevoNombre" class="form-control" placeholder="Ej: Juan Perez" required>
          </div>
          <div class="col-md-6 mb-3">
            <label class="font-weight-bold">Nombre de Usuario (Login)</label>
            <input type="text" name="usuario" [(ngModel)]="nuevoUser" class="form-control" placeholder="jperez" required>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label class="font-weight-bold">Contraseña Temporal</label>
            <input type="password" name="password" [(ngModel)]="nuevoPass" class="form-control" placeholder="••••••••" required>
          </div>
          <div class="col-md-6 mb-3 d-flex align-items-end">
            <button type="submit" class="btn btn-danger btn-block shadow-sm">
              <i class="fas fa-user-plus"></i> REGISTRAR TÉCNICO
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="mt-5">
    <h5 class="text-secondary border-bottom pb-2">Técnicos con Acceso al Sistema</h5>
    <table class="table table-sm table-hover mt-3 bg-white shadow-sm">
      <thead class="bg-light text-muted small text-uppercase">
        <tr>
          <th class="py-3 px-3">Nombre</th>
          <th class="py-3">Usuario</th>
          <th class="py-3 text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of listaUsuarios">
          <td class="align-middle px-3 font-weight-bold">{{u.nombre}}</td>
          <td class="align-middle"><code>{{u.user}}</code></td>
          <td class="text-center">
            <button class="btn btn-outline-danger btn-sm border-0" (click)="quitarAcceso(u.user)">
              <i class="fas fa-trash-alt"></i> Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
